item-style, main .add-item, main .list ul li a {
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

item-style button, main .add-item button, main .list ul li a button {
  margin-right: 20px;
  height: 25px;
  width: 25px;
  border-radius: 50px;
  border: 2px solid #393a4c;
}

body {
  background-repeat: no-repeat;
  background-size: 100% auto;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}

body h1, body p, body ul {
  margin: 0;
  padding: 0;
}

body button {
  font-size: 14px;
}

body.dark {
  background-color: #161722;
  background-image: url("../images/bg-desktop-dark.jpg");
}

body.light {
  background-color: #fafafa;
  background-image: url("../images/bg-desktop-light.jpg");
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  body.dark {
    background-image: url("../images/bg-mobile-dark.jpg");
  }
  body.light {
    background-image: url("../images/bg-mobile-light.jpg");
  }
}

header {
  margin: 75px auto 47px;
  width: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header h1 {
  color: #e4e5f1;
  font-weight: 700;
  letter-spacing: 1rem;
  text-transform: uppercase;
}

header button {
  width: 35px;
  height: 35px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

header button.dark {
  background-image: url("../images/icon-sun.svg");
}

header button.light {
  background-image: url("../images/icon-moon.svg");
}

@media only screen and (max-width: 768px) {
  header {
    margin: 40px auto 27px;
    width: 325px;
  }
}

main {
  margin: 0 auto;
  width: 540px;
}

main .add-item {
  margin-bottom: 23px;
  border-radius: 5px;
}

main .add-item button {
  background-color: transparent;
  cursor: default !important;
}

main .add-item input {
  background-color: transparent;
  border: none;
  outline: none;
}

main .list {
  border-radius: 5px;
}

main .list ul li {
  list-style: none;
}

main .list ul li a {
  position: relative;
}

main .list ul li a button.delete-task {
  height: 25px;
  width: 25px;
  background: url("../images/icon-cross.svg") no-repeat center;
  border: none;
  border-radius: 0;
  display: none;
  position: absolute;
  right: 5px;
}

main .list ul li a:hover button.delete-task {
  display: block;
}

main .list ul li a.active {
  text-decoration: none;
}

main .list ul li a.active button.check {
  background-color: transparent;
}

main .list ul li a.active:hover button.check {
  border-radius: 50px;
  border: 2px solid transparent;
}

main .list ul li a.completed {
  text-decoration: line-through;
}

main .list ul li a.completed button.check {
  background-image: url("../images/icon-check.svg"), linear-gradient(135deg, #57ddff, #c058f3);
  background-position: center;
  background-repeat: no-repeat;
}

main .list .list-footer {
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .list .list-footer button {
  background-color: transparent;
  border: none;
}

main .list .list-footer button.chosen {
  color: #3a7bfd !important;
}

main .list .list-footer #clear-completed:active {
  color: #3a7bfd;
}

main .list-sort-mobile {
  display: none;
}

main p.note {
  margin-top: 50px;
  text-align: center;
}

main.dark .add-item {
  background-color: #25273c;
}

main.dark .add-item input {
  color: #cacde8;
}

main.dark .add-item input::-webkit-input-placeholder {
  color: #777a92;
}

main.dark .add-item input:-ms-input-placeholder {
  color: #777a92;
}

main.dark .add-item input::-ms-input-placeholder {
  color: #777a92;
}

main.dark .add-item input::placeholder {
  color: #777a92;
}

main.dark .list {
  background-color: #25273c;
  -webkit-box-shadow: 0 10px 18px black;
          box-shadow: 0 10px 18px black;
}

main.dark .list ul li {
  background-color: #25273c;
  border: 1px solid #393a4c;
}

main.dark .list ul li a.active {
  color: #cacde8;
}

main.dark .list ul li a.active:hover button.check {
  background: linear-gradient(#25273c, #25273c) padding-box, linear-gradient(135deg, #57ddff, #c058f3) border-box;
}

main.dark .list ul li a.completed {
  color: #4d5066;
}

main.dark .list .list-footer {
  color: #777a92;
}

main.dark .list .list-footer button {
  color: #777a92;
}

main.dark .list .list-footer button:hover {
  color: #cacde8;
}

main.dark p.note {
  color: #777a92;
}

main.light .add-item {
  background-color: white;
}

main.light .add-item input {
  color: #25273c;
}

main.light .add-item input::-webkit-input-placeholder {
  color: #9394a5;
}

main.light .add-item input:-ms-input-placeholder {
  color: #9394a5;
}

main.light .add-item input::-ms-input-placeholder {
  color: #9394a5;
}

main.light .add-item input::placeholder {
  color: #9394a5;
}

main.light .list {
  background-color: white;
  -webkit-box-shadow: 0 10px 18px gray;
          box-shadow: 0 10px 18px gray;
}

main.light .list ul li {
  background-color: white;
  border: 1px solid #e4e5f1;
}

main.light .list ul li a.active {
  color: #25273c;
}

main.light .list ul li a.active:hover button.check {
  background: linear-gradient(white, white) padding-box, linear-gradient(135deg, #57ddff, #c058f3) border-box;
}

main.light .list ul li a.completed {
  color: #d2d3db;
}

main.light .list .list-footer {
  color: #9394a5;
}

main.light .list .list-footer button {
  color: #9394a5;
}

main.light .list .list-footer button:hover {
  color: #25273c;
}

main.light p.note {
  color: #9394a5;
}

@media only screen and (max-width: 768px) {
  main {
    width: 325px;
  }
  main .list .list-footer .list-sort-desktop {
    display: none;
  }
  main .list-sort-mobile {
    margin-top: 1rem;
    padding: 15px 20px;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .list-sort-mobile button {
    margin: 0 7px;
    background-color: transparent;
    border: none;
  }
  main .list-sort-mobile button.chosen {
    color: #3a7bfd !important;
  }
  main.dark .list-sort-mobile {
    background-color: #25273c;
  }
  main.dark .list-sort-mobile button {
    color: #777a92;
  }
  main.dark .list-sort-mobile button:hover {
    color: #cacde8;
  }
  main.light .list-sort-mobile {
    background-color: white;
  }
  main.light .list-sort-mobile button {
    color: #9394a5;
  }
  main.light .list-sort-mobile button:hover {
    color: #25273c;
  }
}
/*# sourceMappingURL=main.css.map */